
pefile==2023.2.7
pendulum==3.1.0
pillow==11.2.1
platformdirs==4.3.7
plotly==6.0.1
pluggy==1.6.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
protobuf==5.29.4
proxy_tools==0.1.0
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2

pycparser==2.22
pyexcel==0.7.4
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
Pygments==2.19.1
n-extensions==10.14.3
PyMySQL==1.1.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.17.2
PySocks==1.7.1
pytesseract==0.3.13
python-dotenv==1.1.1
python-multipart==0.0.20
python-slugify==8.0.4
pythonnet==3.0.5
pytz==2025.2
pywebview==6.1
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.4.0
RapidFuzz==3.14.3
razorpay==1.4.2
redis==6.4.0
referencing==0.36.2
regex==2025.9.1
reportlab==4.4.3
requests==2.32.3
requests-oauthlib==2.0.0
retryhttp==1.3.3
rich==14.0.0
rich-argparse==1.7.1
rich-toolkit==0.15.1
rpds-py==0.24.0
rsa==4.9.1
ruff==0.11.7
s3transfer==0.13.1
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.31.0
semantic-version==2.10.0
sentence-transformers==5.1.0
service-identity==24.2.0
setproctitle==1.3.7
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.44
SQLAlchemy-JSONField==1.0.2
sqlalchemy-migrate==0.11.0
sqlparse==0.5.3
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
starlette==0.46.2
streamlit==1.44.1
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-option-menu==0.3.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
structlog==25.4.0
svcs==25.1.0
sympy==1.14.0
tabulate==0.9.0
Tempita==0.6.0
toml==0.10.2
tomlkit==0.13.2
torch==2.9.0
torchvision==0.24.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.56.1
trio==0.30.0
typing-inspection==0.4.0
typing_extensions==4.15.0

